<div id="<%= dom_id user %>">

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to user.image.filename, user.image if user.image.attached? %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role.role %>
  </p>

</div>
